

body {
    padding: 50px;
}

p {
    cursor: pointer;
    margin: 0px;
}

.list-group-item {
    align-items: center;
    display: flex; /* paraque los elementos hijos parezcan uno alado del otro no uno debejo del otro  */
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}